@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Roboto:wght@300;400&display=swap');

*,*::after,*::before {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

:root {
    --gameboard-border: hsl(0, 0%, 75%);
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to right, #e0eafc, #cfdef3);
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 5rem;
    margin-bottom: 0.5rem;
}

.introduction {
    margin-bottom: 4rem;
    font-size: 1.3rem;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 120px;
    width: clamp(200px, 40%, 400px);
}

.gameboard > div {
    display: grid;
    justify-content: center;
    align-items: center;
}

.gameboard > div:nth-child(1), 
.gameboard > div:nth-child(2), 
.gameboard > div:nth-child(4),  
.gameboard > div:nth-child(5) {
    border-right: 5px solid var(--gameboard-border);
    border-bottom: 5px solid var(--gameboard-border);
}

.gameboard > div:nth-child(3), 
.gameboard > div:nth-child(6) {
    border-bottom: 5px solid var(--gameboard-border);
}

.gameboard > div:nth-child(7) {
    border-right: 5px solid var(--gameboard-border);
}

.gameboard > div:nth-child(8) {
    border-right: 5px solid var(--gameboard-border);
}


.gameboard-para-O {
    font-size: 5rem;
    font-weight: 400;
    color: hsl(0, 86%, 36%);
}

.gameboard-para-X {
    font-size: 5rem;
    font-weight: 400;
    color: hsl(241, 73%, 46%);
}

.turn-info {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.3rem;
    font-weight: 600;
    margin-top: 2rem;
    color: hsl(0, 86%, 36%);
}

.below-gameboard-para {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.3rem;
    font-weight: 600;
    margin-top: 2rem;
}

.retry {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 0.5rem;
    cursor: pointer;
}