@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Roboto:wght@300;400&display=swap');

*,*::after,*::before {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to right, #e0eafc, #cfdef3);
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 5rem;
    margin-bottom: 0.5rem;
}

.introduction {
    margin-bottom: 4rem;
    font-size: 1.3rem;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 120px;
    width: clamp(200px, 40%, 400px);
}

.gameboard > div {
    border: 2px solid black;
    display: grid;
    justify-content: center;
    align-items: center;
}

.turn-info {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.3rem;
    font-weight: 600;
    margin-top: 2rem;
    color: hsl(0, 86%, 36%);
}

.victory {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.3rem;
    font-weight: 600;
    margin-top: 2rem;
}

.tie { 
    font-family: 'Montserrat', sans-serif;
    font-size: 2.3rem;
    font-weight: 600;
    margin-top: 2rem;
}